body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.container {
  width: 100%;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
h3 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 20px;
  color: #000;
}
.event {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 20px 0;
  position: relative;
}
.event:first-of-type {
  border-top: none;
}
.date {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 20px;
  color: #000;
  text-align: center;
}
.date .month-year {
  font-size: 0.8rem;
  color: #888;
}
.details {
  flex: 1;
}
.details h4 {
  font-size: 1.4rem;
  margin: 0;
  font-weight: normal;
  color: #000;
}
.details p {
  font-size: 0.9rem;
  margin: 5px 0 0;
  color: #888;
}
.icon {
  height: 20px;
  width: 20px;
}
.view-event {
  margin-left: 20px;
  padding: 10px 15px;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.view-event:hover {
  cursor: none;
  transform: scale(1.05);
}
.arrow {
  width: 16px;
  height: 16px;
  padding: 2px;
}
.view-event:hover::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 50%;
  transform: scale(1.05);
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.view-event:hover img.arrow {
  transform: translateX(6px);
}
